{% load static wagtailuserbar wagtailimages_tags ckdjango_tags ckwagtail_tags menu_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <script>
            document.documentElement.classList.remove('no-js')
        </script>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.1.0/dist/turbo.es2017-umd.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.min.js"></script>
        {% include "posthog/initialise.html" %}
        {% webpack_bundle 'main' %}

        {% block extra_js %}
        {% endblock %}
        
        {% webpack_bundle 'main' 'css' %}

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

        {% block extra_css %}
        {% endblock %}
    </head>

    <body class="{% block body_height %}min-vh-100{% endblock %} {% block body_class %}{% endblock %} app-{{ self.content_type.app_label }} model-{{ self.content_type.model }}">
        {{ self.full_url|json_script:"routing_configuration" }}
        <script type="application/json" id="model-info">
          { 
            "app_label": "{{self.content_type.app_label}}",
            "model": "{{ self.content_type.model }}",
            "page_id": "{{ self.id }}"
          }
        </script>
        <script type="application/json" id="request-info">
          { "languageCode": "{{ LANGUAGE_CODE }}" }
        </script>
        <div id='wagtailuserbar-data-turbo-permanent-wrapper' data-turbo-permanent>
          {% wagtailuserbar %}
        </div>

        <div
        class="offcanvas offcanvas-end flex flex-column h-100 overflow-auto"
        tabindex="-1"
        id="tagpanel-offcanvas"
        aria-labelledby="tagpanel-title"
        data-bs-scroll="true"
        data-bs-backdrop="false"
        data-turbo-permanent
        >
            <turbo-frame id="tagpanel-turboframe" target="_top" {% block tagpanel_config %}{% endblock %}>
              <!-- Default HTML -->
              <div class="offcanvas-header text-dark-green">
                <div>
                  <div class="microcopy-small">
                    Tag
                  </div>
              
                  <h5 class="offcanvas-title text-capitalize text-reset fw-bold mt-1" id="offcanvasLabel">
                    Loading...
                  </h5>
                </div>
                
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
            </turbo-frame>
        </div>


        {% block body %}
        {% block header %}
        {% main_menu max_levels=1 template="menus/header.html" %}
        <div class='mb-5'>
          <!-- Spacer for the floating header -->
        </div>
        {% endblock %}

        <div class='flex-grow {% block content_wrapper_class %}{% endblock %}'>
        {% block content %}
        {% endblock %}
        </div>

        {% block spacer %}
        <span class="flex-grow-1"></span>
        {% endblock %}
        {% endblock %}

        {% block footer %}
        <div class="bg-panel bg-dark-green text-white links-white flex-grow-1">
            <footer class="container-fluid fs-6 text">
                <div class="row flex-column flex-lg-row py-4 py-md-5">
                    <div class="col d-flex flex-column flex-md-row align-items-start align-items-md-start justify-content-end p-2-5">
                        {% flat_menu 'footer' max_levels=1 show_menu_heading=False template="menus/footer.html" %}
                    </div>
                </div>
            </footer>
        </div>
        {% endblock %}
        <div id="radioPlayer" data-turbo-permanent class="offcanvas offcanvas-bottom min-h-48px h-auto bg-dark-green border-0 drop-shadow-mid-green-glow" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" aria-labelledby="radioPlayerLabel">
            <div class="position-relative text-white ps-md-3 d-flex align-items-center justify-content-between">
              <progress id="radioPlayerSeeker" min="0" max="1" value="0" data-smartforests-radio-episode-seeker></progress>
              <div class='w-100'>
                <button id="radioPlayerPlayButton" class="btn btn-link align-baseline" title="Play episode: {{self.title}}" type="button">
                  <svg class="play-button" width="11" height="14" viewBox="0 0 28 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.5V35.5L27.5 18L0 0.5Z" fill="white"/>
                  </svg>
                  <svg class="pause-button d-none" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="white">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/>
                  </svg>
                </button>
                <span class="d-none d-md-inline-block fs-7 font-monospace align-middle text-soft-green text-nowrap">
                  <span class='text-off-white' id="radioPlayerElapsedTime" data-smartforests-radio-episode-elapsed-time></span>
                  /
                  <span id="radioPlayerDuration" data-smartforests-radio-episode-duration></span>
                </span>
                <a class='text-decoration-none text-reset' href='' data-smartforests-radio-episode-page-url>
                  <span class="text-nowrap ps-1 ps-md-2 align-middle d-inline-block text-truncate" style='max-width: max(100px, 66vw);' id="radioPlayerLabel" data-smartforests-radio-episode-title></span>
                  <span class="text-nowrap ps-1 ps-md-3 small font-monospace text-uppercase d-none d-md-inline-block" data-smartforests-radio-episode-owner></span>
                  <span class="text-nowrap ps-1 ps-md-3 small font-monospace text-uppercase d-none d-md-inline-block" data-smartforests-radio-episode-last-published-at></span>
                </a>
              </div>
              <a class='text-decoration-none text-reset d-block position-relative' href='' data-smartforests-radio-episode-page-url>
                {% if self.image %}
                    {% image self.image height-48 data-smartforests-radio-episode-image=true %}
                {% else %}
                    <img height="48" data-smartforests-radio-episode-image>
                {% endif %}
                <img class="position-absolute top-50 start-50 translate-middle" src='{% static "img/radio-icon.svg" %}' />
              </a>
            </div>
        </div>
        <script>
            Array.from(document.querySelectorAll('[data-autofocus-show]')).forEach(modal => {
                modal.addEventListener('shown.bs.modal', () => {
                    Array.from(modal.querySelectorAll('[autofocus]')).forEach(el => el.focus())
                })
            })
        </script>
        {% include "posthog/identify.html" %}
        <script src="https://cdn.jsdelivr.net/gh/Blogger-Peer-Review/quotebacks@1/quoteback.js"></script>
    </body>
</html>
