{% load static wagtailuserbar wagtailimages_tags ckdjango_tags ckwagtail_tags menu_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- Browser -->
        <script>document.documentElement.classList.remove('no-js')</script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- SEO -->
        <link rel="shortcut icon" type="image/png" href="{%  static 'img/favicon.png' %}">
        {% include "wagtailseo/meta.html" %}
        
        <!-- JS -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.1.0/dist/turbo.es2017-umd.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.min.js"></script>
        {% include "posthog/initialise.html" %}
        {% webpack_bundle 'main' %}
        {% block extra_js %}
        {% endblock %}
        
        <!-- CSS -->
        {% webpack_bundle 'main' 'css' %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.9/dist/cookieconsent.css" rel="stylesheet"> 
        {% block extra_css %}
        {% endblock %}
    </head>

    <body class="{% block body_height %}min-vh-100{% endblock %} {% block body_class %}{% endblock %} {% if self %} app-{{ self.content_type.app_label }} model-{{ self.content_type.model }} {% endif %}">
        {% if self %}
        {{ self.full_url|json_script:"routing_configuration" }}
        <script type="application/json" id="model-info">
          { 
            "app_label": "{{self.content_type.app_label}}",
            "model": "{{ self.content_type.model }}",
            "page_id": "{{ self.id }}"
          }
        </script>
        {% endif %}
        <script type="application/json" id="request-info">
          { "languageCode": "{{ LANGUAGE_CODE }}" }
        </script>
        <div id='wagtailuserbar-data-turbo-permanent-wrapper' data-turbo-permanent>
          {% wagtailuserbar %}
        </div>
        {% with settings.smartforests.FeaturedContent.radio_episode as episode %}
          {% if episode is not None %}
            {% include 'logbooks/include/episode_button.html' with episode=episode.specific.localized preload=True extra_classes="d-none" %}
          {% endif %}
        {% endwith %}

        <div
        class="offcanvas offcanvas-end d-flex flex-column h-100 overflow-auto"
        tabindex="-1"
        id="tagpanel-offcanvas"
        aria-labelledby="tagpanel-title"
        data-bs-scroll="true"
        data-bs-backdrop="false"
        data-turbo-permanent
        >
            <turbo-frame id="tagpanel-turboframe" target="_top" {% block tagpanel_config %}{% endblock %} class="d-flex flex-column h-100">
              <!-- Default HTML -->
              <div class="offcanvas-header text-dark-green">
                <div>
                  <div class="microcopy-small">
                    Tag
                  </div>
              
                  <h5 class="offcanvas-title text-capitalize text-reset fw-bold mt-1" id="offcanvasLabel">
                    Loading...
                  </h5>
                </div>
                
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
            </turbo-frame>
        </div>

        {% block body %}
          {% block header %}
            {% main_menu max_levels=1 template="menus/header.html" %}
            <div class='mb-5'>
              <!-- Spacer for the floating header -->
            </div>
          {% endblock %}

          <div class='flex-grow {% block content_wrapper_class %}{% endblock %}'>
          {% block content %}
          {% endblock %}
          </div>

          {% block spacer %}
            <span class="flex-grow-1"></span>
          {% endblock %}
        {% endblock %}

        {% block footer %}
          {% if self %}
            {% include "smartforests/include/radio_player.html" with episode=self %}
          {% endif %}
          {% flat_menu 'footer' max_levels=1 show_menu_heading=False template="menus/footer.html" %}
        {% endblock %}

        {% include "wagtailseo/struct_data.html" %}
        <script>
            Array.from(document.querySelectorAll('[data-autofocus-show]')).forEach(modal => {
                modal.addEventListener('shown.bs.modal', () => {
                    Array.from(modal.querySelectorAll('[autofocus]')).forEach(el => el.focus())
                })
            })
        </script>
        {% include "posthog/identify.html" %}
        <script src="https://cdn.jsdelivr.net/gh/Blogger-Peer-Review/quotebacks@1/quoteback.js"></script>

        <!-- Cookie consent script -->
        {% include "cookie_consent.html" %}
    </body>
</html>
