{% load static wagtailuserbar wagtailimages_tags ckdjango_tags ckwagtail_tags menu_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <script>
            document.documentElement.classList.remove('no-js')
        </script>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script defer src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.0.1/dist/turbo.es2017-umd.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.min.js"></script>
        
        {% webpack_bundle 'main' %}

        {% block extra_js %}
        {% endblock %}
        
        {% webpack_bundle 'main' 'css' %}

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

        {% block extra_css %}
        {% endblock %}
    </head>

    <body class="d-flex flex-column {% block body_height %}min-vh-100 overflow-auto{% endblock %}{% block body_class %}{% endblock %}">
        {{ self.full_url|json_script:"routing_configuration" }} 
        {% wagtailuserbar %}

        {% block body %}
        {% block header %}
        {% main_menu max_levels=1 template="menus/header.html" %}
        {% endblock %}

        <div class='flex-grow-1 overflow-auto h-100'>
        {% block content %}
        {% endblock %}
        </div>

        {% block spacer %}
        <span class="flex-grow-1"></span>
        {% endblock %}
        {% endblock %}

        {% block footer %}
        <div class="bg-panel bg-dark-green text-white links-white flex-grow-1">
            <footer class="container py-3 fs-6 text">
                <div class="row">
                    <div class="col-8 d-flex flex-column flex-md-row align-items-start">
                        <div class="mb-3 me-3">
                            <p>
                                &copy; <a target="_blank" target="_blank" rel="noopener noreferrer" href="https://planetarypraxis.org/">Planetary Praxis</a> {% now "Y" %}
                            </p>
                        </div>
                    </div>

                    <div class="col d-flex flex-column flex-md-row align-items-start align-items-md-start justify-content-end">
                        {% flat_menu 'footer' max_levels=1 show_menu_heading=False template="menus/footer.html" %}

                        <div>
                            Site by <a target="_blank" target="_blank" rel="noopener noreferrer" href="https://commonknowledge.coop">Common Knowledge</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        {% endblock %}
        <div id="radioPlayer" data-turbo-permanent class="offcanvas offcanvas-bottom h-48px bg-dark-green border-0 drop-shadow-mid-green-glow" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" aria-labelledby="radioPlayerLabel">
            <div class="text-white ps-3 d-flex align-items-center justify-content-between" style="height: 100%;">
              <div>
                <button class="btn btn-link" title="Play episode: {{self.title}}" type="button">
                  <svg width="11" height="14" viewBox="0 0 28 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.5V35.5L27.5 18L0 0.5Z" fill="white"/>
                  </svg>
                </button>
                <span class="ps-2" id="radioPlayerLabel">{{self.title}}</span>
                <span class="ps-3 small font-monospace text-uppercase">{% if self.owner.first_name and self.owner.last_name %}{{ self.owner.first_name }} {{ self.owner.last_name }}{% else %}{{ self.owner }}{% endif %}</span>
                <span class="ps-3 small font-monospace text-uppercase">{{ self.last_published_at|date:"d E Y" }}</span>
              </div>
              <div class="position-relative">
                {% if self.image %}
                  {% image self.image height-48 %}
                {% endif %}
                <img class="position-absolute top-50 start-50 translate-middle" src="{% static "img/radio-icon.svg" %}"/>
              </div>
            </div>
        </div>
        <script>
            Array.from(document.querySelectorAll('[data-autofocus-show]')).forEach(modal => {
                modal.addEventListener('shown.bs.modal', () => {
                    Array.from(modal.querySelectorAll('[autofocus]')).forEach(el => el.focus())
                })
            })
        </script>
    </body>
</html>
