  <script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.9/dist/cookieconsent.js"></script

  <!-- Inline script -->
  <script>
      window.addEventListener('load', function(){

          // obtain plugin
          var cc = initCookieConsent();

          // run plugin with your configuration
          cc.run({
              current_lang: 'en',
              autoclear_cookies: true,                   
              page_scripts: true,                      
 
              languages: {
                  'en': {
                      consent_modal: {
                          title: 'We use cookies!',
                          description: 'Hi, this website uses essential cookies to ensure its proper operation and tracking cookies to understand how you interact with it. The latter will be set only after consent. <button type="button" data-cc="c-settings" class="cc-link">Let me choose</button>',
                          primary_btn: {
                              text: 'Accept all',
                              role: 'accept_all'             
                          },
                          secondary_btn: {
                              text: 'Reject all',
                              role: 'accept_necessary'        
                          }
                      },
                      settings_modal: {
                          title: 'Cookie preferences',
                          save_settings_btn: 'Save settings',
                          accept_all_btn: 'Accept all',
                          reject_all_btn: 'Reject all',
                          close_btn_label: 'Close',
                          cookie_table_headers: [
                              {col1: 'Name'},
                              {col2: 'Domain'},
                              {col3: 'Expiration'},
                              {col4: 'Description'}
                          ],
                          blocks: [
                              {
                                  title: 'Cookie usage 📢',
                                  description: 'I use cookies to ensure the basic functionalities of the website and to enhance your online experience. You can choose for each category to opt-in/out whenever you want. For more details relative to cookies and other sensitive data, please read the full <a class="cc-link" href="/terms-and-conditions/">terms and conditions</a>.'
                              }, {
                                  title: 'Strictly necessary cookies',
                                  description: 'These cookies are essential for the proper functioning of my website. Without these cookies, the website would not work properly',
                                  toggle: {
                                      value: 'necessary',
                                      enabled: true,
                                      readonly: true           
                                  }
                              }, {
                                  title: 'Performance and Analytics cookies',
                                  description: 'These cookies allow the website to remember the choices you have made in the past',
                                  toggle: {
                                      value: 'analytics',      
                                      enabled: false,
                                      readonly: false
                                  },
                                  cookie_table: [             
                                      {
                                          col1: '^ph_',       
                                          col2: 'posthog.com',
                                          col3: 'never',
                                          col4: 'PostHog analytics',
                                          is_regex: true
                                      },
                                      {
                                        col1: '^__ph',       
                                        col2: 'posthog.com',
                                        col3: 'never',
                                        col4: 'PostHog analytics',
                                        is_regex: true
                                    }
                                  ]
                              } 
                          ]
                      }
                  }
              }
          });
      });
  </script>