{% extends "base.html" %}
{% load ckdjango_tags static ckbootstrap_tags wagtailcore_tags %}

{% block content %}

{% block article_header %}
{% endblock %}

<main class="container-fluid mb-7">
  <div class="row gx-0 mt-3 mt-lg-7">
    <div class="d-block d-lg-none mb-5 text-reset text-decoration-none text-mid-green">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="currentColor" class='text-mid-green' xmlns="http://www.w3.org/2000/svg">
        <path d="M7.00033 2.33334L7.82283 3.15584L4.56783 6.41668H11.667V7.58334H4.56783L7.82283 10.8442L7.00033 11.6667L2.33366 7.00001L7.00033 2.33334Z" />
      </svg>
      <a class="border-bottom border-1 pb-1 text-mid-green border-mid-green ms-2 text-decoration-none" href="{{ self.get_parent.url }}">{{ self.get_parent.title}}</a>
    </div>
    <header class="col-lg-6 offset-lg-3">
      {% block article_title %}
      <h1 class="mb-3 mb-lg-5">{{self.title}}</h1>
      {% endblock %}
    </header>
    <section class="d-flex d-lg-none flex-row mb-3">
      {% for tag in self.tags.all %}
        {% include "logbooks/include/tag_label.html" with tag=tag %}
      {% endfor %}
    </section>
  </div>
  <div class="row gx-0">
    <aside class="col-lg-2">
      {% include "logbooks/metadata.html" with page=self %}
    </aside>
    <section class="col-lg-6 offset-lg-1 gx-0">
      {% block article %}
      {% endblock %}
    </section>
  </div>
</main>

{% block article_footer %}
{% endblock %}

<h3 class="bg-dark-green p-3 py-2 microcopy-small text-white m-0">
  Related Tags
</h3>
<div id="tag-cloud" data-tag-offcanvas="tagpanel-offcanvas" data-tag-frame="tagpanel-turboframe" data-tag-cloud-data="tag_cloud"></div>
{{self.tag_cloud|json_script:"tag_cloud"}}

{% endblock %}


{% block extra_js %}
  <script defer type="module" src="{% static 'js/tag_cloud.js' %}"></script>
{% endblock %}