{% extends "logbooks/article_page_base.html" %}
{% load ckdjango_tags wagtailimages_tags wagtailcore_tags static %}

{% block article_title %}
  <h1 class="mb-3 mb-md-5 d-flex">
    {% if self.avatar %}
      {% image self.avatar fill-60x60 style='border-radius: 100%; width: 60px; height: 60px; margin-right: 20px; vertical-align: middle;' %}
    {% endif %}
    <span>{{self.title}}</span>
  </h1>
{% endblock %}

{% block article %}
{% if self.byline %}
  <div class="mb-7">
    <div class='logbook-entry'>
      <div class="logbook-entry__card border-2">
        {{self.byline}}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="mb-7">
    {{self.bio|richtext}}
  </div>
{% endblock %}

{% block article_footer %}
{% with self.person.edited_content_pages as pages %}
{% if pages|length %}
<section class='container-fluid border-top border-light-grey py-6'>
  <header class='row'>
    <h3 class='col'>{{ pages|length }} {{ pages|length|pluralize:"contribution,contributions"}}</h3>
  </header>
  <div class='row'>
    {% for page in pages %}
      <div class='col-lg-3 col-md-4 col-sm-6 col'>
        {% include "logbooks/thumbnails/related_page_thumbnail.html" with page=page show_owner=False %}
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}
{% endwith %}
{% endblock %}