{% extends "logbooks/index_page_base.html" %}
{% load i18n %}
{% block index_content %}
{% for section in sections %}
<h2 class="fw-bold mb-3">{{ section.title|title }}</h2>
{% if section.current %}
<div class="mb-5">
{% include "logbooks/include/masonry.html" with contents=section.current %}
</div>
{% endif %}
{% if section.past %}
<h3 class="fs-5 mb-2">{% translate "Past Contributors" %}</h3>
<div class="mb-5">
{% include "logbooks/include/masonry.html" with contents=section.past %}
</div>
{% endif %}
{% endfor %}
{% endblock %}
{% block filter_mobile %}{% endblock %}
{% block filter_desktop %}{% endblock %}
