{% extends "logbooks/article_page_base.html" %}
{% load ckdjango_tags ckwagtail_tags wagtailimages_tags wagtailcore_tags static %}

{% block article_header %}
  {% if self.image %}
    {% image self.image fill-1500x500 class="img-fluid hero-img" %}
  {% endif %}
{% endblock %}

{% block article_title %}
  <h1 class="mb-3 mb-md-5 d-flex align-items-center">
    {% include 'logbooks/include/episode_button.html' with episode=self large=True %}
    <span>{{self.title}}</span>
  </h1>
{% endblock %}

{% block article %}
  <div class="mb-7">
    {% render_streamfield self.body %}
    {% include 'logbooks/include/endnotes.html' %}
  </div>
{% endblock %}