{% extends "base.html" %}
{% load i18n static ckdjango_tags ckbootstrap_tags %}
{% block content_wrapper_class %}filter-page{% endblock %}
{% block content %}
    <!-- Filter sidepanel -->
    {% if self.relevant_tags %}
        <div id='filters'
             class="offcanvas offcanvas-start"
             tabindex="-1"
             aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header d-flex align-items-center justify-content-end cursor-pointer"
                 data-bs-dismiss="offcanvas">
                <svg class='d-inline-block'
                     width="15"
                     height="15"
                     viewBox="0 0 14 14"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00033 2.33334L7.82283 3.15584L4.56783 6.41668H11.667V7.58334H4.56783L7.82283 10.8442L7.00033 11.6667L2.33366 7.00001L7.00033 2.33334Z" fill="#043003"/>
                </svg>
                <!-- TODO: fix this bug properly (remove the onclick hack) -->
                <!-- Problem: selecting a filter then going back breaks the offcanvas show/hide buttons -->
                <a class="offcanvas-title d-inline-block ms-2" id="offcanvasLabel"
                    onclick="$('.offcanvas').removeClass('show');$('.modal-backdrop').remove()"
                >{% translate "Filters" %}</a>
            </div>
            <div class="offcanvas-body">
                <div class="p-3">
                    <h3 class="fw-bold">{% translate "Tags" %}</h3>
                    {% include "smartforests/include/tag_list.html" with tags=self.relevant_tags target="logbook-search-results" %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid mt-0 filter-page__content">
        <div class="index-header mt-5 mt-md-7 mb-5">
            <div id="sidebar-show"
                 class="col-md-3 filters-reveal collapse-horizontal d-flex justify-content-between align-items-center">
                <div class="sidebar-sized">
                    {% if self.relevant_tags %}
                        <a class="btn btn-link p-0 text-decoration-none"
                           href="#filters"
                           data-bs-toggle="offcanvas"
                           href="#filters"
                           role="button"
                           aria-controls="filters">
                            <svg width="14"
                                 height="14"
                                 viewBox="0 0 14 14"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 id="open-svg">
                                <path d="M7.00016 2.33334L6.17766 3.15584L9.43266 6.41668H2.3335V7.58334H9.43266L6.17766 10.8442L7.00016 11.6667L11.6668 7.00001L7.00016 2.33334Z" fill="#043003"/>
                            </svg>
                            {% translate "Filters" %}
                        </a>
                    {% endif %}
                </div>
                {% block filter_mobile %}
                <!-- Display on small screens -->
                <div class='dropdown dropdown-fixed-width bg-off-white d-lg-none logbooks-dropdown'>
                    <a class="dropdown-toggle fw-normal filter-link text-dark-green text-decoration-none"
                    href="#"
                    role="button"
                    id="logbooks"
                    data-bs-toggle="dropdown"
                    data-bs-offset="0,-2"
                    aria-expanded="false">

                        {% if 'sort=a-z' in request.get_full_path %}
                            {% translate "Title A—Z" %}
                        {% elif 'sort=z-a' in request.get_full_path %}
                            {% translate "Title Z—A" %}
                        {% elif 'sort=most_recent' in request.get_full_path %}
                            {% translate "Newest First" %}
                        {% elif 'sort=oldest' in request.get_full_path %}
                            {% translate "Oldest First" %}
                        {% else %}
                            {% translate "Newest First" %}
                        {% endif %}

                    </a>
                    <ul class="dropdown-menu w-100 border-0 mt-0 bg-off-white shadow-sm fs-body-text"
                        aria-labelledby="">
                        <li>
                            <a class="dropdown-item text-dark-green p-2"
                            href="{{ request.path }}?sort=a-z">
                                <span>{% translate "Title A—Z" %}</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-dark-green p-2"
                            href="{{ request.path }}?sort=z-a">
                                <span>{% translate "Title Z—A" %}</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-dark-green p-2"
                            href="{{ request.path }}?sort=oldest">
                                <span>{% translate "Oldest First" %}</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-dark-green p-2"
                            href="{{ request.path }}?sort=most_recent">
                                <span>{% translate "Newest First" %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                {% endblock %}
            </div>
            <div class="col-md mb-5 mb-md-0">
                <h1>{{ self.title }}</h1>
                {% if tag_filter %}
                    <div>
                        <a href="{% qs_link 'filter' None %}" class="filter-tag active">
                            {{ tag_filter }}
                            <i aria-label="Close" className="icon icon-8 icon-close bg-white ms-1"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
            {% block filter_desktop %}
            <!-- Display on large screens -->
            <div class='dropdown dropdown-fixed-width bg-off-white d-none d-lg-block logbooks-dropdown'>
                <a class="dropdown-toggle fw-normal filter-link text-dark-green text-decoration-none "
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                data-bs-offset="0,-2"
                aria-expanded="false">
                    {% if 'sort=a-z' in request.get_full_path %}
                        {% translate "Title A—Z" %}
                    {% elif 'sort=z-a' in request.get_full_path %}
                        {% translate "Title Z—A" %}
                    {% elif 'sort=most_recent' in request.get_full_path %}
                        {% translate "Newest First" %}
                    {% elif 'sort=oldest' in request.get_full_path %}
                        {% translate "Oldest First" %}
                    {% else %}
                        {% translate "Newest First" %}
                    {% endif %}

                </a>
                <ul class="dropdown-menu w-100 border-0 mt-0 bg-off-white shadow-sm fs-body-text"
                    aria-labelledby="">
                    <li>
                        <a class="dropdown-item text-dark-green p-2"
                        href="{{ request.path }}?sort=a-z">
                            <span>{% translate "Title A—Z" %}</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-dark-green p-2"
                        href="{{ request.path }}?sort=z-a">
                            <span>{% translate "Title Z—A" %}</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-dark-green p-2"
                        href="{{ request.path }}?sort=oldest">
                            <span>{% translate "Oldest First" %}</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-dark-green p-2"
                        href="{{ request.path }}?sort=most_recent">
                            <span>{% translate "Newest First" %}</span>
                        </a>
                    </li>
                </ul>
            </div>
            {% endblock %}
        </div>
        {% block index_content %}
            {% include "logbooks/include/masonry.html" with contents=child_list_page %}
        {% endblock %}
    </div>
{% endblock %}
<!-- The masonry component doesn't get on with the flex: 1 we usually stick at the bottom of the page -->
{% block spacer %}{% endblock %}
{% block extra_js %}
    <script defer
            src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <script defer
            src="https://cdn.jsdelivr.net/npm/masonry-layout@4/dist/masonry.pkgd.min.js"
            crossorigin="anonymous"></script>
    <script defer src="{% static 'js/masonry.js' %}"></script>
{% endblock %}
