{% load ckdjango_tags wagtailimages_tags wagtailcore_tags %}
<article class='row row-cols-1 gy-2'>
  <header class='col'>
    <section class='caption text-grey fw-lighter'>
      <div class="d-flex">
        <div class="mr-3">
          Added by {% if entry.owner.first_name and entry.owner.last_name %}{{ entry.owner.first_name }} {{ entry.owner.last_name }}{% else %}{{ entry.owner }}{% endif %}
        </div>
        <time datetime="{{ entry.first_published_at|date:"Y-m-d" }}">
          {{ entry.first_published_at|date:"d E Y" }}
        </time>
      </div>
      {% if entry.geographical_location %}
        <div>{{ entry.geographical_location }}</div>
      {% endif %}
    </section>
  </header>
  <h3 class='fs-4 fw-bolder'><a href="{{ entry.url }}" class='text-reset text-decoration-none'>
    {{ entry.title }}
  </a></h3>
  <section class='row gy-3 my-0'>
  {% for block in entry.body %}  
      {% with next_block=entry.body|next:forloop.counter0 %}
      {% with previous_block=entry.body|previous:forloop.counter0 %}
      <section class="
        block-{{ block.block_type }}
        col
        {% if block.block_type == 'image' %}
          {% if not forloop.last and next_block.block_type == 'image' %}
            col-12 col-md-6
          {% elif not forloop.first and previous_block.block_type == 'image' %}
            col-12 col-md-6
          {% else %}
            col-12
          {% endif %}
        {% else %}
          col-12
        {% endif %}">
        {% include_block block %}
      </section>
      {% endwith %}
      {% endwith %}
  {% endfor %}
  </section>
  <footer class='col'>
    {% for tag in entry.tags.all %}
      {% include 'logbooks/tag_label.html' with tag=tag %}
    {% endfor %}
  </footer>
</article>