{% extends "logbooks/article_page_base.html" %}
{% load ckdjango_tags ckbootstrap_tags static wagtailcore_tags %}

{% block article %}
  <div class="mb-6">
    {% if self.description %}
    <div class='logbook-entry'>
      <div class="logbook-entry-card border-2">
        {{self.description|richtext}}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="mt-0">
    {% for entry in child_list_page %}
    <article class="logbook-entry {% if forloop.first %}mt-0{% endif %}" id="{{ entry.id }}">
      {% include entry.content_html with self=entry.localized user=user only %}
    </article>
    {% endfor %}
  </div>

  <script>
    window.addEventListener('turbo:load', () => {
      const hash = "{{hash}}".replace(/\//, '')
      const url = "{{self.url}}"
      let hasNavigatedToHash = false
      if (hash && !hasNavigatedToHash) {
        // Pretend this logbook entry page never existed...
        Turbo.visit(url + '#' + hash, { action: "replace" })
        hasNavigatedToHash = true
      }
    }, { once: true })
  </script>
{% endblock %}
