{{logbook.related_stories}}
{% with story_count=logbook.related_stories|length %}
<article>
  <h2>{{ logbook.title }}</h2>
  <p>{{story_count}} stor{{ story_count|pluralize:"y,ies" }}</p>
  {% if story_count %}
    <!-- If there is one story with an image show the image -->
    <!-- If there are multiple stories with images, show a Spotify-style grid -->
    <div style="display: grid;">
      <!-- Album cover is made up of a grid of logbook's stories' images, if any -->
      {% for story in logbook.related_stories %}
        {% if story.cover_image %}
          Something here
          {{ story.cover_image }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</article>
{% endwith %}