{% extends "logbooks/article_page_base.html" %}
{% load ckdjango_tags ckbootstrap_tags static wagtailcore_tags %}

{% block article %}
  <div class="mb-7">
    {% if self.description %}
    <div class="bg-white rounded-1 p-3">
      {{self.description|richtext}}
    </div>
    {% endif %}
  </div>
  <div class="row gx-0">
    <div class="row row-cols-1 gx-0 gy-7 mt-0">
      {% for entry in child_list_page %}
      <article class="col {% if forloop.first %}mt-0{% endif %}" id="{{ entry.id }}">
        {{entry.content_html}}
      </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}
