{% extends "base.html" %}
{% load ckdjango_tags ckbootstrap_tags wagtailcore_tags %}

{% block content %}

<header class="container">
  <div class="row">
    <h1 class="col">{{self.title}}</h1>
  </div>
  <div>
    {{self.description|richtext}}
  </div>
  <div>
    {% for tag in self.tags.all %}
      {% include 'logbooks/tag_label.html' with tag=tag %}
    {% endfor %}
  </div>
</header>

{% include "logbooks/include/masonry.html" with contents=child_list_page %}

{% endblock %}

<!-- The masonary component doesn't get on with the flex: 1 we usually stick at the bottom of the page -->
{% block spacer %}
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4/dist/masonry.pkgd.min.js" crossorigin="anonymous"></script>
{% endblock %}