<div class="d-none d-md-flex flex-column microcopy">
  <section class="d-flex flex-column mb-3">
    <time class="text-dark-grey" datetime="{{ page.first_published_at|date:"Y-m-d" }}">
      Added {{ page.first_published_at|date:"d E Y" }}
    </time>
    <time class="text-dark-grey" datetime="{{ page.last_published_at|date:"Y-m-d" }}">
      Last edited {{ page.last_published_at|date:"d E Y" }}
    </time>
  </section>
  <section class="d-flex flex-column mb-3">
    <h4 class="mb-0">Contributors</h4>
    <a>{% if page.owner.first_name and page.owner.last_name %}{{ page.owner.first_name }} {{ page.owner.last_name }}{% else %}{{ page.owner }}{% endif %}</a>
    {% for entry in child_list_page %}
    <a>{% if entry.owner.first_name and entry.owner.last_name %}{{ entry.owner.first_name }} {{ entry.owner.last_name }}{% else %}{{ entry.owner }}{% endif %}</a>
    {% endfor %}
  </section>
  {% if page.geographical_location %}
  <section class="d-flex flex-column mb-3">
    <h4 class="mb-0">Location</h4>
    <div>{{ page.geographical_location }}</div>
    {% if page.coordinates %}
      <div>{{ page.latitude | floatformat:4}}° N, {{ page.longitude | floatformat:4}}° E</div>
    {% endif %}
  </section>
  {% endif %}
  <section class="d-flex flex-column">
    <h4>Tags</h4>
    <div class="d-flex flex-column">
    {% for tag in page.tags.all %}
      {% include "logbooks/include/tag_label.html" with tag=tag orientation="vertical" %}
    {% endfor %}
    </div>
  </section>
</div>