{% load ckdjango_tags %}
<div class="d-none d-lg-flex flex-column metadata">
  <section class="d-flex flex-column mb-3">
    <time class="text-dark-grey" datetime="{{ page.first_published_at|date:'Y-m-d' }}">
      Added {{ page.first_published_at|date:"d E Y" }}
    </time>
    <time class="text-dark-grey" datetime="{{ page.last_published_at|date:'Y-m-d' }}">
      Last edited {{ page.last_published_at|date:"d E Y" }}
    </time>
  </section>
  {% if page.contributors.all|length %}
  <section class="d-flex flex-column mb-3">
    <h4 class="mb-0">Contributors</h4>
    {% for user in page.contributors.all %}
      <a class='d-block' href='{{ user.contributor_page.localized.link_url }}' data-turbo-frame="_top">
        {% include 'logbooks/username.html' with user=user %}
      </a>
      {% if interactive %}
        <a href="/_metadata/{{page.id}}/toggle_user/{{user.id}}" data-turbo-frame="_self">(Hide)</a>
      {% endif %}
    {% endfor %}
  </section>
  {% endif %}
  {% if interactive and page.excluded_contributors.all|length %}
  <section class="d-flex flex-column mb-3">
    <h4 class="mb-0">(Hidden Contributors)</h4>
    {% for user in page.excluded_contributors.all %}
      <s><span class='d-block'>
        {% include 'logbooks/username.html' with user=user %}
      </span></s>
      <a href="/_metadata/{{page.id}}/toggle_user/{{user.id}}" data-turbo-frame="_self">(Show)</a>
    {% endfor %}
  </section>
  {% endif %}
  {% if page.geographical_location or page.coordinates %}
  <section class="d-flex flex-column mb-3">
    <h4 class="mb-0">Location</h4>
    {% if page.geographical_location %}
    <div>{{ page.geographical_location }}</div>
    {% endif %}
    {% if page.coordinates %}
      <div>{{ page.latitude | floatformat:4}}° N, {{ page.longitude | floatformat:4}}° E</div>
    {% endif %}
  </section>
  {% endif %}
  {% with page.all_tags as tags %}
  {% if tags|length %}
  <section class="d-flex flex-column">
    <h4>Tags</h4>
    <div class="d-flex flex-column">
    {% for tag in tags %}
      {% include "logbooks/include/tag_label.html" with tag=tag orientation="vertical" tag_background_class=tag_background_class %}
    {% endfor %}
    </div>
  </section>
  {% endif %}
  {% endwith %}
</div>