{% extends "base.html" %}
{% load static ckdjango_tags ckbootstrap_tags wagtailimages_tags %}

{% block content %}

<div id="filter-page" class="filter-page">
  {% include "logbooks/include/filters.html" with tags=self.relevant_tags target="logbook-search-results" %}

  <div class="container-fluid mt-0 filter-page__content">
    <div class="mb-5">
      <div class="index-header">
        <div id="sidebar-show" class="filters-reveal collapse-horizontal" data-turbo-permanent>
          <div class="sidebar-sized">
            <a data-bs-toggle="collapse" href="#filters" class="btn btn-link" aria-expanded="false" aria-controls="filters">

              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" id="open-svg">
                <path d="M7.00016 2.33334L6.17766 3.15584L9.43266 6.41668H2.3335V7.58334H9.43266L6.17766 10.8442L7.00016 11.6667L11.6668 7.00001L7.00016 2.33334Z" fill="#043003"/>
              </svg>
              
              Filters
            </a>
        
          </div>
        </div>
        <h1 class="col">{{self.title}}</h1>
        
      </div>
      <div>
        {% if tag_filter %}
        <div
          class="filter-tag active"
        >
          {{ tag_filter }}
        </div>
        {% endif %}
      </div>
    </div>

    <div>
      <main class="container-fluid">
        {% for episode in child_list_page %}
          <div class="row g-0 border-bottom pt-3 pb-2">
            <div class="col d-flex align-items-start">
              {% include 'logbooks/include/episode_button.html' with episode=episode extra_classes="me-2 p-0" %}
              <div>
                <div class="d-flex align-items-center mb-2">
                  <a class="link-reset me-3" href="{{episode.url}}" >
                    {{episode.title}}
                  </a>
                  <div class="font-monospace color-dark-grey small">
                    {% if episode.audio.duration != 0.0 %}
                      {{ episode.audio.duration }}
                    {% endif %}
                  </div>
                </div>
                <div>
                  {% for tag in episode.tags.all %}
                    {% include 'logbooks/include/tag_label.html' with tag=tag %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-start justify-content-end">
              {% if episode.image %}
                  {% image episode.image height-48 %}
                {% else %}
                <img src="{% static "img/radio-icon.svg" %}"/>
                {% endif %}
            </div>
          </div>
        {% endfor %}
      </main>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script defer src="{% static 'js/filters.js' %}"></script>
{% endblock %}
