{% extends "logbooks/radio_index_page_base.html" %}
{% load static ckdjango_tags ckbootstrap_tags wagtailimages_tags i18n %}

{% block sidebar %}{% endblock %}
{% block filter_desktop %}{% endblock %}

{% block index_content %}

<div>
  <main class="container-fluid">
    <div class="row">
      {% for playlist in child_list_page %}
      <div class="col col-12 col-sm-6 col-md-4 mb-3 position-relative playlist-item">
        <a class="d-block position-relative" href="{{ playlist.url }}">
          <div>
            {% if playlist.thumbnail_image_resilient and playlist.thumbnail_image_resilient.url %}
            <img data-src="{{ playlist.thumbnail_image_resilient.url }}" alt="{{ playlist }}" class="w-100">
            {% else %}
            <img src="{% static 'img/radio-icon.svg' %}" alt="{{ playlist }}" class="w-100">
            {% endif %}
          </div>
          <div class="position-absolute w-100 h-100 top-0 start-0">
            <h2 class="playlist-item__overlay text-white p-2">{{ playlist.title }}</h2>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
{% endblock %}