{% extends "logbooks/index_page_base.html" %}
{% load static ckdjango_tags ckbootstrap_tags wagtailimages_tags %}

{% block index_content %}

    <div>
      <main class="container-fluid">
        {% for episode in child_list_page %}
          <div class="row g-0 border-sm-0 border-bottom pt-3 pb-2 {% if forloop.last %}mb-6{% endif %}">
            <div class="col d-flex align-items-start">
              {% include 'logbooks/include/episode_button.html' with episode=episode extra_classes="me-2 p-0 d-none d-md-block" %}
              <div class='w-100'>
                <div class="d-flex align-items-md-center mb-2 flex-column flex-md-row">
                  <div class="d-md-none text-center">
                    {% if episode.image %}
                      {% image episode.image height-194 class='mx-auto' %}
                    {% endif %}
                  </div>
                  <a class="link-reset me-3 d-flex d-md-block flex-column mt-2 mt-md-0" href="{{episode.url}}" >
                    <div class="mb-2 mb-md-0">
                      <img class="d-md-none" src="{% static "img/radio-icon.svg" %}"/>
                    </div>
                    <span class="fs-6">{{ episode.title }}</span>
                  </a>
                  <div class="font-monospace color-dark-grey small d-none d-md-block">
                    {% if episode.audio.duration > 0 %}
                      {{ episode.audio.duration|duration_numbers }}
                    {% endif %}
                  </div>
                </div>
                <div>
                  {% for tag in episode.all_tags %}
                    {% include 'logbooks/include/tag_label.html' with tag=tag %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-2 d-none d-md-flex align-items-start justify-content-end">
              {% if episode.image %}
                  {% image episode.image height-60%}
              {% else %}
                <img src="{% static "img/radio-icon.svg" %}"/>
              {% endif %}
            </div>
          </div>
    {% endfor %}
  </main>
</div>
{% endblock %}