{% extends "logbooks/index_page_base.html" %}
{% load static ckdjango_tags ckbootstrap_tags wagtailimages_tags i18n %}

{% block pre_index_header %}

<div class="mt-3 row">
  <nav class="col radio-nav">
    {% with self.radio_parent_pages as parent_pages %}
    <ul class="d-flex list-unstyled">
      <li class="me-2">
        <a href="{{ parent_pages.home.localized.url }}">{% translate 'Featured' %}</a>
      </li>
      <li class="mx-2">
        <a href="{{ parent_pages.playlists.localized.url }}">{{ parent_pages.playlists.localized.title }}</a>
      </li>
      <li class="ms-2">
        <a href="{{ parent_pages.archive.localized.url }}">{% translate 'Archive' %}</a>
      </li>
    </ul>
    {% endwith %}
  </nav>
</div>

{% endblock %}