{% load ckdjango_tags ckbootstrap_tags wagtailcore_tags %}

<div class='container gy-1 gx-3 py-3'>
  <div class='caption text-muted'>{{ page.label }}</div>
  <div class='fs-6 text-dark-green fw-bold'>{{ page.title }}</div>
  {% if page.geographical_location %}
  <div class='caption text-muted'>{{ page.geographical_location }}</div>
  {% endif %}
</div>
<img src='https://via.placeholder.com/350x150' class='w-100' />
<div class='container gy-1 gx-3 py-3'>
  <div class='mt-2 mb-0'>
    {{ page.description|richtext }}
    <p class='mt-0'><a class='text-uppercase text-decoration-underline text-mid-green fs-7' href="{{ page.url }}">
      READ MORE
    </a></p>
  </div>
  <div>
    <hr class='mt-0' />
  </div>
  {% include "logbooks/metadata.html" with page=page %}
</div>