{% extends "logbooks/article_page_base.html" %}
{% load ckdjango_tags ckwagtail_tags wagtailimages_tags wagtailcore_tags %}

{% block article_header %}
  {% if self.image %}
    {% image self.image height-500 class="img-fluid hero-img" %}
  {% endif %}
{% endblock %}

{% block article %}
  {% render_streamfield self.body %}

  {% if self.endnotes %}
  <div class="endnotes">
    <hr>
    {{ self.endnotes|richtext }}
  </div>
  {% endif %}

  {% with page.footnotes.all as footnotes %}
  {% if footnotes|length %}
  <footer class="footnotes mt-5" id="footnotes">
    <h5 id="footnote-label" class='fs-6a text-body'>
        Footnotes
    </h5>
    <ol class='fs-6a ps-4 microcopy text-dark-grey'>
        {% for footnote in footnotes %}
          <li id="footnote-{{ forloop.counter }}">
            <div class='d-flex flex-row'>
              <span class='pe-2 child-mb-0 mb-1'>{{ footnote.text|richtext }}</span>
              <a href="#footnote-source-{{ forloop.counter }}" aria-label="Back to content">↩</a>
            </div>
          </li>
        {% endfor %}
    </ol>
  </footer>
  {% endif %}
  {% endwith %}
{% endblock %}
