{% extends "base.html" %}
{% load ckdjango_tags %}

{% block content %}
{% with story_count=child_list_page|length %}
<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <main class="col-8">
      <h1 class='mb-5'>{{story_count}} stor{{ story_count|pluralize:"y,ies" }}</h1>

      <section class='col container gx-0'>
        <div class='row row-cols-1 gx-0 gy-5'>
        {% for entry in child_list_page %}
          <div class="col">
            {{entry.content_html}}
          </div>
        {% endfor %}
        </div>
      </section>

    </main>
    <div class="col-2"></div>
  </div>
</div>
{% endwith %}
{% endblock %}