.logo {
  mix-blend-mode: multiply;
  height: 40px;

  @include media-breakpoint-up(md) {
    height: 80px;
  }
}

.logo-small {
  mix-blend-mode: multiply;
  height: 80px;

  @include media-breakpoint-up(md) {
    height: 103px;
  }
}

.search-highlight {
  background-color: $yellow;
  color: $primary;
}

.flex-basis-0 {
  flex-basis: 0;
}

.overlay-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $dark-green;
  mix-blend-mode: multiply;
  opacity: 0.5;
}

/** Masonry grid **/

.grid__wrapper {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.grid {
  --grid__columns: 2;
  --grid__gutter: #{map-get($spacers, 4)};

  @include media-breakpoint-up(md) {
    --grid__columns: 3;

    &.compact {
      --grid__columns: 2;
    }
  }

  @include media-breakpoint-up(lg) {
    --grid__columns: 4;

    &.compact {
      --grid__columns: 3;
    }
  }

  @include media-breakpoint-up(xl) {
    --grid__columns: 5;

    &.compact {
      --grid__columns: 4;
    }
  }

  margin-right: calc(
    var(--grid__gutter, 0px) * calc(-1 / var(--grid__columns, 2))
  );

  &.are-images-unloaded {
    opacity: 0;
  }

  &.are-images-unloaded .image-grid__item {
    opacity: 0;
  }
}

.grid__item,
.grid__col-sizer {
  width: calc(
    calc(100% / var(--grid__columns, 2)) -
      calc(
        var(--grid__gutter, 0px) *
          calc(calc(var(--grid__columns, 2) - 1) / var(--grid__columns, 2))
      )
  );
}

.grid__gutter-sizer {
  width: var(--grid__gutter, 0px);
}

.grid__item {
  display: block;
  margin-bottom: var(--grid__gutter, 0px);
  float: left;
}

.page-load-status {
  padding-top: var(--grid__gutter, 0px);
  display: none;
}

/** Map **/

.mapbox-invisible-popup {
  max-width: none !important;
  background: none;
  border: none;

  .mapboxgl-popup-close-button {
    top: 15;
    right: 15;
  }

  .mapboxgl-popup-content {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    width: 300;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }

  .mapboxgl-popup-tip {
    display: none;
  }
}

.search-item {
  display: block;

  &.active {
    background-color: $primary;
    color: $white;
  }
}

/** Sidebar */

.sidebar-sized {
  width: 320px;
}
.sidebar {
  @extend .sidebar-sized;
  background: $white;
}

/** Sizing **/

.index-header {
  height: 128px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/** Filter bar **/

.filter-page {
  display: flex;
  flex-direction: row;
}

.filter-page__content {
  flex: 1;
}

.filter-bar {
  background-color: white;
}
