.logo {
  mix-blend-mode: multiply;
  height: 40px;

  @include media-breakpoint-up(md) {
    height: 80px;
  }
}

.logo-small {
  mix-blend-mode: multiply;
  height: 80px;

  @include media-breakpoint-up(md) {
    height: 103px;
  }
}

.search-highlight {
  background-color: $yellow;
  color: $primary;
}

.flex-basis-0 {
  flex-basis: 0;
}

.overlay-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $dark-green;
  mix-blend-mode: multiply;
  opacity: 0.5;
}

/** Masonry grid **/

.grid__wrapper {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.grid {
  --grid__columns: 1;
  --grid__gutter: #{map-get($spacers, 4)};

  @include media-breakpoint-up(md) {
    --grid__columns: 2;

    &.grid-compact {
      --grid__columns: 1;
    }
  }

  @include media-breakpoint-up(lg) {
    --grid__columns: 3;

    &.grid-compact {
      --grid__columns: 2;
    }
  }

  @include media-breakpoint-up(xl) {
    --grid__columns: 4;

    &.grid-compact {
      --grid__columns: 3;
    }
  }

  @include media-breakpoint-up(xxl) {
    --grid__columns: 5;

    &.grid-compact {
      --grid__columns: 4;
    }
  }

  margin-right: calc(
    var(--grid__gutter, 0px) * calc(-1 / var(--grid__columns, 2))
  );

  &.are-images-unloaded {
    opacity: 0;
  }

  &.are-images-unloaded .image-grid__item {
    opacity: 0;
  }
}

.grid__item,
.grid__col-sizer {
  width: calc(
    calc(100% / var(--grid__columns, 2)) -
      calc(
        var(--grid__gutter, 0px) *
          calc(calc(var(--grid__columns, 2) - 1) / var(--grid__columns, 2))
      )
  );
}

.grid__gutter-sizer {
  width: var(--grid__gutter, 0px);
}

.grid__item {
  display: block;
  margin-bottom: var(--grid__gutter, 0px);
  float: left;
}

.page-load-status {
  padding-top: var(--grid__gutter, 0px);
  display: none;
}

.search-item {
  display: block;

  &:hover {
    background-color: $mid-green;
    color: $white;

    a:hover {
      color: $white;
    }

    .text-dark-grey {
      color: $white !important;
    }
  }
}

/** Sidebar */

.sidebar-coverimage {
  @extend .ratio;
  @extend .ratio-21x9;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.sidebar-sized {
  width: 320px;
}

.sidebar {
  @extend .sidebar-sized;
  background: $white;
}

/** Sizing **/

.index-header {
  height: 128px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/** Filter bar **/

.filter-page {
  display: flex;
  flex-direction: row;

  &.filters-visible {
    .filters-reveal {
      @extend .collapse;
    }

    .grid {
      @extend .grid-compact;
    }
  }

  &:not(.filters-visible) {
    .filter-sidebar {
      @extend .collapse;
    }
  }
}

.filter-page__content {
  flex: 1;
}

.filter-bar {
  background-color: $white;
}

/** Filters **/

.filter-tag {
  @extend .badge;
  @extend .rounded-pill;
  @extend .microcopy;
  @extend .small;
  @extend .text-decoration-none;

  background: $off-white;
  color: $mid-green;
  text-transform: uppercase;
  font-weight: normal;
  padding: #{map-get($map: $spacers, $key: 1) * 0.5} #{map-get(
      $map: $spacers,
      $key: 2
    )};

  &:not(.active) {
    @extend .hoverable;
  }

  &.active {
    background: $dark-green;
    color: $white;
  }
}

/** Buttons */

.icon-btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &:hover,
  &:focus {
    opacity: 0.6;
    background-color: transparent !important;
  }
}
