.logo {
  mix-blend-mode: multiply;
  height: 40px;

  @include media-breakpoint-up(md) {
    height: 80px;
  }
}

.logo-small {
  mix-blend-mode: multiply;
  height: 80px;

  @include media-breakpoint-up(md) {
    height: 103px;
  }
}

.search-highlight {
  background-color: $yellow;
  color: $primary;
}

.flex-basis-0 {
  flex-basis: 0;
}

.overlay-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $dark-green;
  mix-blend-mode: multiply;
  opacity: 0.5;
}

/** Masonry grid **/

.grid__wrapper {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.grid {
  --grid__columns: 1;
  --grid__gutter: #{map-get($spacers, 4)};

  @include media-breakpoint-up(md) {
    --grid__columns: 2;

    &.grid-compact {
      --grid__columns: 1;
    }
  }

  @include media-breakpoint-up(lg) {
    --grid__columns: 3;

    &.grid-compact {
      --grid__columns: 2;
    }
  }

  @include media-breakpoint-up(xl) {
    --grid__columns: 4;

    &.grid-compact {
      --grid__columns: 3;
    }
  }

  @include media-breakpoint-up(xxl) {
    --grid__columns: 5;

    &.grid-compact {
      --grid__columns: 4;
    }
  }

  margin-right: calc(var(--grid__gutter, 0px) * calc(-1 / var(--grid__columns, 2)));

  &.are-images-unloaded {
    opacity: 0;
  }

  &.are-images-unloaded .image-grid__item {
    opacity: 0;
  }
}

.grid__item,
.grid__col-sizer {
  width: calc(calc(100% / var(--grid__columns, 2)) - calc(var(--grid__gutter, 0px) * calc(calc(var(--grid__columns, 2) - 1) / var(--grid__columns, 2))));
}

.grid__gutter-sizer {
  width: var(--grid__gutter, 0px);
}

.grid__item {
  display: block;
  margin-bottom: var(--grid__gutter, 0px);
  float: left;
}

.page-load-status {
  padding-top: var(--grid__gutter, 0px);
  display: none;
}

.search-item {
  display: block;

  &:hover {
    background-color: $soft-green;
  }
}

/** Sidebar */

.sidebar-coverimage {
  @extend .ratio;
  @extend .ratio-21x9;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.sidebar-sized {
  width: 320px;
}

.sidebar {
  @extend .sidebar-sized;
  background: $white;

  @include media-breakpoint-down(md) {
    height: 100vh;
    width: 100vh;
  }
}

.sidebar-tag-list {
  .filter-tag {
    max-width: 100%;
    text-wrap: unset;
    text-align: left;
  }
}

/** Sizing **/

.index-header {
  display: flex;
  flex-direction: row;
  align-items: center;


  @include media-breakpoint-down(md) {
    padding-top: #{map-get($spacers, 3)};
    flex-direction: column-reverse;
    align-items: flex-start;
    height: auto;
  }

}


#sidebar-show {
}


.filter-link {
  display: block;
  padding: 10px 0px 10px 10px
}




/** Filter bar **/

.filter-page {
  display: flex;
  flex-direction: row;

  &.filters-visible {
    .filters-reveal {
      @extend .collapse;
    }

    .grid {
      @extend .grid-compact;
    }
  }

  .filter-sidebar {
    background-color: $white;
  }

  &:not(.filters-visible) {
    .filter-sidebar {
      @extend .collapse;
    }
  }
}

.filter-page__content {
  flex: 1;
}

.filter-bar {
  background-color: $white;
}

/** Filters **/

@mixin tag-base {
  @extend .badge;
  @extend .rounded-pill;
  @extend .microcopy;
  @extend .small;
  @extend .text-decoration-none;
  @extend .max-content;

  cursor: pointer;
  background: $off-white;
  color: $mid-green;
  text-transform: uppercase;
  font-weight: normal;
  padding: #{map-get($map: $spacers, $key: 1) * 0.5} #{map-get(
 $map: $spacers,
  $key: 2)
}

;
}

.filter-tag {
  @include tag-base;

  &:not(.active) {
    @extend .hoverable;
  }

  &.active {
    background: $dark-green;
    color: $white;
  }
}

.filter-tag-white {
  background: $white;
}

.filter-tag-inline {
  background: $soft-green;
  color: $dark-green;
  font-family: inherit !important;
  font-size: inherit !important;
  padding: 4px 8px;
  text-transform: none;
  letter-spacing: 0px;

  a {
    color: $dark-green;
  }

  &:hover,&:focus {
    background-color: $soft-green !important;
    box-shadow: 1px 1px 5px 0px #0430034D;
    color: $mid-green;

    a {
      color: $mid-green;
    }
  }
}

/** Tag cloud */

.tag-cloud {
  position: relative;
  background-color: $faded-green;
  overflow: hidden;

  height: 40vw;
  width: 100%;

  @include media-breakpoint-down(sm) {
    height: 400px;
  }

  &-content {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.related-tag {
  position: absolute;
  left: 0;
  top: 0;
  padding: map-get($map: $spacers, $key: 2);
  margin: (map-get($map: $spacers, $key: 2) * -2.2) (map-get($map: $spacers, $key: 2) * -1.5);
  will-change: transform;

  &:hover>* {
    background-color: $off-white !important;
    color: $dark-green !important;
  }

  .tag-label {
    @include tag-base;
    vertical-align: middle;
    padding: 1px 6px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 10.5px !important;
    max-width: max-content;
    transition: all 0.25s ease-in-out;

    &:hover {
      max-width: 300px;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    }

    @include media-breakpoint-up(md) {
      font-size: 12px !important;
    }
  }

  .tag-handle {
    vertical-align: middle;
    position: absolute;
    background-color: $white;
    border-radius: 9px;
    width: 9px;
    height: 9px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--selected {
    .tag-label {
      background: $dark-green;
      color: white;
    }

    .tag-handle {
      background: $dark-green;
    }

    &:hover>* {
      background-color: $mid-green !important;
      color: $off-white !important;
    }
  }
}

/** Buttons */

.icon-btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &:hover,
  &:focus {
    opacity: 0.6;
    background-color: transparent !important;
  }
}

/** Mini-card */

.mini-card {
  border-radius: 3px;
  border: 1px solid $soft-green;
  padding: map-get($map: $spacers, $key: 2);
  display: block;
  text-decoration: none;

  &:hover{
    background-color: $off-white;
  }

  &:focus {
    background-color: $primary-hover-light;
  }
}

/** Logbooks */

.logbook-entry {
  $timeline-gap: 30px;

  position: relative;
  display: flex;
  padding: $timeline-gap 0;

  &:before {
    margin-left: 50%;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 2px;
    content: "";
    background-color: $soft-green;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  >* {
    z-index: 2;
    width: 100%;
    min-width: 0;
    max-width: 100%;
  }

  &-card {
    @extend .rounded-3;
    @extend .border;
    @extend .border-soft-green;
    @extend .p-3;
    @extend .p-md-4;
    background: white;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.dropdown-fixed-width {

  .dropdown-menu,
  .dropdown-toggle {
    width: 12em;
  }

  .dropdown-menu {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

.logbook-filter {
  @include media-breakpoint-up(lg) {
    margin-left: 25%;
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    justify-content: space-between;
  }
}

.endnotes {
  font-size: $small-font-size;
}

.endnotes hr {
  background-color: $dark-green;
  border: none;
  height: 1px;
  opacity: 1;
  width: 2rem;
}

.radio-nav {
  @include media-breakpoint-up(md) {
    /* align with header logo */
    margin-left: 170px;
  }
}

.playlist-item {
  .playlist-item__overlay {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 5, 0, 0) 100%);


    h2 {
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}