.icon-search {
  display: inline-block;
  background-image: url("./svg/search.svg");
  width: 13px;
  height: 13px;
}

.icon-lg {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}

.icon-logbook {
  display: inline-block;
  background-image: url("./svg/icon-logbook.png");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
