.icon {
  display: inline-block;
  width: var(--icon-size, 15px);
  height: var(--icon-size, 15px);

  mask-image: var(--icon);
  -webkit-mask-image: var(--icon);

  mask-size: var(--icon-size, 15px) var(--icon-size, 15px);
  -webkit-mask-size: var(--icon-size, 15px) var(--icon-size, 15px);
  background-size: var(--icon-size, 15px) var(--icon-size, 15px);
}

/** Sizes */

.icon-8 {
  --icon-size: 8px;
}

.icon-13 {
  --icon-size: 13px;
}

.icon-20 {
  --icon-size: 20px;
}

.icon-24 {
  --icon-size: 24px;
}

.icon-30 {
  --icon-size: 30px;
}

/** Svgs */

.icon-close {
  --icon: url("./svg/close-icon.svg");
}

.icon-search {
  --icon: url("./svg/search.svg");
}

.icon-logbooks {
  --icon: url("./svg/map-icons/logbooks.svg");
}

.icon-stories {
  --icon: url("./svg/map-icons/stories.svg");
}

.icon-radio {
  --icon: url("./svg/map-icons/radio.svg");
}

.icon-contributor {
  --icon: url("./svg/map-icons/circle.svg");
}

.icon-cursor {
  --icon: url("./svg/map-icons/map.svg");
}

.icon-thumbnail {
  display: inline-block;
  background-image: var(--icon);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
