@keyframes popup {
  0% {
  opacity: 0;
    transform: perspective(200px) translate3d(0, 0, -10px);
  }
  20% {
  opacity: 0.5;
  }
  100% {
  opacity: 1;
    transform: perspective(200px) translate3d(0, 0, 0);
  }
}
    
.mapbox-invisible-popup {
  max-width: none !important;
  background: none !important;
  border: none;
  outline: none;

  .mapboxgl-popup {
    &-close-button {
      top: 15;
      right: 15;
    }

    &-content {
      background: none;
      border: none;
      outline: none;
      padding: 0;
      animation: popup 0.15s ease forwards !important;
      @extend .shadow-elevated;
      @extend .br-3;
      @extend .bg-white;
    }

    &-close-button {
      display: none;
    }

    &-tip {
      display: none;
    }
  }
}

.mapboxgl-control-container > * {
  padding: map-get($map: $spacers, $key: 3);

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.mapboxgl-ctrl {
  margin: 0 !important;
  margin-bottom: map-get($map: $spacers, $key: 2) !important;
}

.mapboxgl-ctrl-geocoder {


  
  &--icon {
    fill: $dark-green !important;
  }
  &--input {
    font-weight: 400 !important;
    font-size: $font-size-base * 0.9 !important;
    font-family: $font-family-sans-serif !important;
  }
  &--suggestion-title {
    font-weight: 400 !important;
    font-size: $font-size-base * 0.9;
    font-family: $font-family-sans-serif !important;
  }
  &--suggestion-address {
    font-weight: 200 !important;
    color: $mid-green;
    font-family: $font-family-monospace !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  z-index: 100 !important;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-filters {
  background-color: $white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.mapboxgl-ctrl-filters--collapsed,
.mapboxgl-ctrl-group button {
  width: 36px !important;
  max-width: 36px !important;
  height: 36px !important;

  @include media-breakpoint-down(sm) {
    width: 50px !important;
    max-width: 50px !important;
    height: 50px !important;
  }
}

.mapboxgl-ctrl-filters {
  overflow: hidden;

  &--collapsed {
    cursor: pointer;
    text-align: center;
    padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
  }

  &-content {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: auto;
  }

  border-radius: 4px;
  transition: width 0.25s, min-width 0.25s;

  &:not(.mapboxgl-ctrl-filters--collapsed) {
    height: 500px;
    width: 80%;
    max-height: calc(100vh - 130px);
  }
}

.mapboxgl-ctrl-geocoder:not(.mapboxgl-ctrl-geocoder--collapsed),
.mapboxgl-ctrl-filters:not(.mapboxgl-ctrl-filters--collapsed) {

  @include media-breakpoint-down(sm) {
    width: 80% !important;
  }
  @include media-breakpoint-up(sm) {
    width: 400px !important;
  }
}

.mapbox-loading-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  font-size: $large-font-size;
}
