// 14px, expressed as rem
$small-font-size: $font-size-base * 0.7777777778;
// 32px as rem
$large-font-size: $font-size-base * 2;

:root {
  --bs-font-sans-serif: "MarrSans", "sans-serif";
  --cc-bg: #f9f9f9;
  --cc-btn-primary-bg: #026302;
}

@mixin body-text {
  font-size: 16px;
  font-weight: normal;
}

body {
  ::selection {
    background: $primary-hover-light;
  }

  @include body-text;

  display: flex;
  flex-direction: column;
  color: $dark;
  background: $body-bg;
}

.font-monospace {
  letter-spacing: 1px;
}

@mixin heading-large {
  font-weight: 400;
  line-height: 110%;
  font-size: 32px;

  @include media-breakpoint-up(md) {
    font-size: 54px;
  }
}

@mixin heading-medium {
  font-weight: 400;
  line-height: 140%;

  font-size: 18px;

  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
}

@mixin heading-small {
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
}

@mixin microcopy {
  @extend .font-monospace;
  font-style: normal;
  font-size: $small-font-size;
  line-height: 18px;
}

.heading-large,
h1 {
  @include heading-large;
}

.heading-medium,
h2 {
  @include heading-medium;
}

.heading-small,
h3 {
  @include heading-small;
}

h3 {
  font-weight: normal;
}

.microcopy,
h4 {
  @include microcopy;
}

.microcopy-small,
h4 {
  @include microcopy;
  @extend .small;
  text-transform: uppercase;
}

h3.microcopy-small {
  letter-spacing: 0;
}

.small {
  font-size: 12px !important;
}

.card {
  overflow: hidden;
}

.turbo-progress-bar {
  background: $dark-green;
}

.dropdown-toggle::after {
  margin-left: 5px;
}

.dropdown-toggle.show {
  @extend .shadow-sm;
  background-color: $off-white;
}

.navbar {
  padding-bottom: 0;

  @include media-breakpoint-up(lg) {
    padding-bottom: $spacer * 0.5;
  }
}

// Remove this for the moment, but return as it makes this inaccessible.
.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  font-weight: bold;
  color: $secondary;

  &.active {
    color: $dark;
    border-bottom: 2px solid $primary;
  }
}

.nav-link:hover {
  text-decoration: underline;
}

.model-storypage .block-text {
  @extend .font-serif;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-collapse {
    background-color: $white;
    height: 100vh;

    // Slight correction for the padding of the menu, which looks visually wrong.
    padding-top: 5px;

    // Override collapse animation to make hamburger menu open instantly on navbar.
    // See https://github.com/twbs/bootstrap/blob/359ed099e5b2f82bd602f2a6c45f43af8f2c87e8/scss/_transitions.scss
    &.collapsing {
      transition: none;
    }
  }
}

.metadata {
  font-style: normal;
  font-size: $small-font-size !important;
  line-height: $font-size-root;

  // This is an ugly workaround.
  // We want to preserve <h4> default styles to be the styles encapsulated in the class microcopy.
  // This is because Wagtail outputs these in general body text for a page without any classes attached.
  // However, we also want to be able to overwrite the look on the metadata sidebar, but keep the semantic <h4> tag to allow screenreaders a better change of getting it right.
  h4 {
    color: $dark-green;
    font-size: $small-font-size !important;
    font-family: $font-family-sans-serif !important;
    text-transform: none;
    letter-spacing: 0;
  }
}

.offcanvas-end {
  border-left: none;
  box-shadow: 0px 0px 20px 0px rgba($dark-green, 0.2);
}

.text-reset {
  @include body-text;
}

.accordion {
  border-top: 1px solid $light-grey;

  .accordion-item {
    border-bottom: 1px solid $light-grey;
  }
}

.content-copy > * + * {
  margin-top: map-get($map: $spacers, $key: 5);
}

#radioPlayerSeeker {
  $progress-color: $faded-green;
  $background-color: white;

  // Positioning
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 6px;
  width: 100%;

  // Styles
  /* RESETS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  /* IE and EDGE */
  background-color: $background-color;
  color: $progress-color;

  /* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
  &::-webkit-progress-bar {
    background-color: $background-color;
  }

  &::-webkit-progress-value {
    background-color: $progress-color;
  }

  /* MOZILLA FIREFOX */
  &::-moz-progress-bar {
    background-color: $progress-color;
  }

  // Interaction
  cursor: pointer;

  &:hover {
    height: 16px;
  }

  transition: all 0.3s;
}

html body .shadow-none.shadow-none {
  box-shadow: none !important;
}

// For long links
a {
  word-break: break-word;
}

.wagtail-userbar {
  bottom: 6em !important;
}

@include media-breakpoint-up(lg) {
  .col-lg-6 {
    width: 45%;
  }
}

.width-70 {
  width: 70%;
}

.footer-width {
  width: 80%;
}

@include media-breakpoint-up(md) {
  .footer-width {
    width: calc(100% - 60px);
  }
}

.story-page-card .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.extract {
  font-family: $font-family-serif;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-container img {
  display: block;
  width: 100%;
}

.playlist-item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.playlist-item a:hover::after {
  background-color: rgba(4, 48, 3, 0.1);
}

.playlist-item h2 {
  display: inline-block;
  transition: text-decoration 0.3s ease;
}

.playlist-item h2:hover {
  text-decoration: underline;
}

.playlist-item-header {
  position: relative;
  z-index: 1;
}

.playlist-item-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: -1;
}

.playlist-item-header:hover::after {
  background-color: rgba(4, 48, 3, 0.1);
}

.story-page-card {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.story-image-container {
  position: relative;
  overflow: hidden;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-image-container img {
  height: 200px;
  object-fit: contain;

  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.tags-overflow {
  color: #026302;
  text-transform: uppercase;
  font-family: var(--bs-font-monospace);
  font-size: 12px;
  font-weight: normal;
  padding: 2.5px 10px;
}

.image-container .play-button {
  width: 80px !important;
  height: auto;
  display: none;
}

.image-container:hover .play-button {
  display: block;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-container img {
  display: block;
  width: 100%;
}

.card-hover {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.card-hover:hover {
  background-color: rgba(4, 48, 3, 0.1);
}

.card-hover .card-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 48, 3, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.card-hover:hover .card-overlay {
  opacity: 1;
}

.card-hover .card,
.card-hover .d-flex {
  position: relative;
  z-index: 2;
}

.card-hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.image-hover {
  align-items: end;
  height: 100%;
  justify-content: center;
  display: flex;
}

.image-hover__link {
  position: relative;
  img {
    max-height: 240px;
    width: 100%;
  }
  &:hover {
    .image-hover__overlay {
      display: block;
    }
  }
}

.image-hover__overlay {
  height: 100%;
  display: none;
  left: 0;
  background-color: rgba(4, 48, 3, 0.25);
  position: absolute;
  top: 0;
  width: 100%;
}

.text-hover .card-title {
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.text-hover:hover .card-title {
  text-decoration: underline;
}

.radio-episode-card a:hover {
  text-decoration: underline;
}

.mobile-tag-row {
  gap: 10px;
}

// Rotate radio episode titles on mobile
@include media-breakpoint-down(md) {
  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translateX(50%);
    }
    100% {
      -webkit-transform: translateX(-100%);
    }
  }

  @-moz-keyframes ticker {
    0% {
      -moz-transform: translateX(50%);
    }
    100% {
      -moz-transform: translateX(-100%);
    }
  }

  @keyframes ticker {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .ticker {
    display: inline-block;
    white-space: nowrap;
    -webkit-animation: ticker 30s linear infinite;
    -moz-animation: ticker 30s linear infinite;
    animation: ticker 30s linear infinite;
  }
}

// Make mobile header larger on mobile
@include media-breakpoint-down(md) {
  .mobile-menu-wrapper {
    height: 60px;
    width: 100%;
  }
}
@include media-breakpoint-down(md) {
  .index-page-mobile-header h1 {
    font-weight: 500;
    font-size: 18px;
  }
}
