:root {
  --bs-font-sans-serif: "MarrSans", "sans-serif";
}

body {
  ::selection {
    background: $primary-hover-light;
  }

  font-size: 16px;

  @include media-breakpoint-up(md) {
    font-size: 18px;
  }

  display: flex;
  flex-direction: column;
  color: $dark;
  background: $body-bg;
}

@mixin heading-large {
  font-weight: 400;
  line-height: 110%;
  font-size: 32px;

  @include media-breakpoint-up(md) {
    font-size: 64px;
  }
}

@mixin heading-medium {
  font-weight: 400;
  line-height: 140%;

  font-size: 18px;

  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
}

@mixin heading-small {
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
}

@mixin microcopy {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.heading-large,
h1 {
  @include heading-large;
}

.heading-medium,
h2 {
  @include heading-medium;
}

.heading-small,
h3 {
  @include heading-small;
}

.microcopy,
h4 {
  @include microcopy;
}

.microcopy-small,
h4 {
  @include microcopy;
  @extend .small;
  text-transform: uppercase;
}

.small {
  font-size: 12px;
}

a .card,
a.card {
  .card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    &:hover {
      background-color: transparentize($color: $dark-green, $amount: 0.9);
    }
  }
}

.nav-link {
  font-weight: bold;
  color: $secondary;
  padding: 0 !important;

  &.active {
    color: $dark;
    border-bottom: 2px solid $primary;
  }
}

.nav-link:hover {
  text-decoration: underline;
}

.turbo-progress-bar {
  background: $dark-green;
}

.dropdown-toggle.show {
  @extend .shadow-sm;
  background-color: $off-white;
}

// Remove this for the moment, but return as it makes this inaccessible.
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar {
  padding-bottom: 0;

  @include media-breakpoint-up(lg) {
    padding-bottom: $spacer * 0.5;
  }
}

.badge-primary {
  background: $offwhite;
  color: $mid-green;

  &:not(.active) {
    @extend .hoverable;
  }

  &.active {
    background: $dark-green;
    color: $white;
  }
}
