{% load ckdjango_tags ckbootstrap_tags static wagtailcore_tags i18n %}

<head>
  <meta name="robots" content="noindex">
</head>

<turbo-frame id="tagcloud-turboframe">
  <h3 class="bg-dark-green p-3 py-2 microcopy-small text-white m-0">
    {% translate "Related Tags" %}
  </h3>
  <div id="tag-cloud"
       data-tag-offcanvas="tagpanel-offcanvas"
       data-tag-frame="tagpanel-turboframe"
       data-tag-cloud-data="tag_cloud">
  </div>
  {{ page.tag_cloud|json_script:"tag_cloud" }}
</turbo-frame>