{% load ckdjango_tags ckbootstrap_tags static wagtailcore_tags %}

<turbo-frame id="tagpanel-turboframe">
  <div class="offcanvas-header text-dark-green">
    <div>
      <div class="microcopy-small">
        Tag
      </div>
  
      <h5 class="offcanvas-title text-capitalize text-reset fw-bold mt-1" id="offcanvasLabel">{{tag.name}}</h5>
    </div>
    
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  {% if tag.thumbnail %}
    <img src="{{tag.thumbnail.url}}" class="h-100px w-100 object-cover">
  {% endif %}

  <div class="offcanvas-body text-dark-green">
    {% if tag.description %}
    <div class="mb-2">
      {{ tag.description|richtext }}
    </div>
    {% endif %}

    <div class="accordion" id="tag-accordion">
      {% for page_type, page_list in pages %}
        {% if page_list %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="{{ page_type.model_info.verbose_name | slugify }}-heading">
              <button class="accordion-button text-dark-green" type="button" data-bs-toggle="collapse" data-bs-target="#{{page_type.model_info.verbose_name  | slugify }}-collapse" aria-controls="{{page_type.model_info.verbose_name  | slugify }}-collapse">
                <i class="icon {{page_type.icon_class}} icon-20 bg-primary me-2"></i>
                {{page_type.model_info.verbose_name_plural}}
                <span class="ms-2 badge bg-off-white microcopy-small text-dark-green">{{page_list|length}}</span>
              </button>
            </h2>
    
            <div id="{{ page_type.model_info.verbose_name | slugify }}-collapse" class="accordion-collapse open" aria-labelledby="{{ page_type.model_info.verbose_name  | slugify }}-heading" data-bs-parent="#tag-accordion">
              <div class="accordion-body mt-2">
                {% for page in page_list %}
                  <a class="mini-card mb-2 text-dark-green" href="{{page.link_url}}">
                    <div>
                      {{page.title}}
                    </div>
    
                    <span class="microcopy-small text-black">
                      {{page_type.model_info.verbose_name}}
                    </span>
    
                    {% if page.owner %}
                      <span class="d-inline-block microcopy-small">
                        {{page.owner.get_full_name}}
                      </span>
                    {% endif %}
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>
</turbo-frame>