<a class="overflow-hidden mini-card mb-2 text-dark-green bg-white" href="{{page.link_url}}">
  <div>
    {{page.title}}
  </div>

  <div class='d-flex flex-row justify-content-between'>
    <span>
      <span class="microcopy-small text-black flex">
        <span>{{page.label}}</span>
      </span>

      {% if page.contributors.all|length and show_owner is not False %}
        {% for user in page.contributors.all %}
          <span class="d-inline-block microcopy-small text-mid-green">
            {{ user }}
          </span>
        {% endfor %}
      {% endif %}
    </span>

    <span class="microcopy-small text-light-grey flex">{{page.locale.language_code}}</span>
  </div>
</a>