{% load menu_tags %}

<div class="mb-3 container">
  <div class="row gy-3 gy-md-4 gx-1 gx-md-2 gx-lg-3">
    {% for item in menu_items %}
      <div class="col col-6 col-md-4 col-lg-3">
        <a class="d-block d-md-inline-block me-3" href="{{ item.href }}">{{ item.text }}</a>
      </div>
    {% endfor %}
    <div class='col col-6 col-md-4 col-lg-3'>
      Site by <a class="footer-link" target="_blank" target="_blank" rel="noopener noreferrer" href="https://commonknowledge.coop">Common Knowledge</a>
    </div>
  </div>
</div>