{% load menu_tags %}
<footer class="bg-panel bg-dark-green container-fluid py-3 px-4 mt-auto">
  <div class="d-grid d-md-flex gap-2 gap-md-4 gap-lg-7 fs-7 font-monospace text-uppercase text-white links-white">
    {% for item in menu_items %}
    <a
      class="text-decoration-none"
      href="{{ item.href }}"
      data-turbo="false"
      >{{ item.text }}</a
    >
    {% endfor %}
    <a
      class="text-decoration-none""
      target="_blank"
      rel="noopener noreferrer"
      href="https://commonknowledge.coop"
      >Site by Common Knowledge</a
    >
  </div>
</footer>
