{% load i18n menu_tags %}
<footer class="border-top border-white bg-panel bg-dark-green container-fluid py-2 px-4">
  <div class="py-1 d-grid d-md-flex gap-2 gap-md-4 gap-lg-7 fs-7 font-monospace text-uppercase text-white links-white">
    {% for item in menu_items %}
    <a
      class="text-decoration-none"
      href="{% firstof item.link_page.localized.url item.href %}"
      data-turbo="false"
      >
      {% firstof item.link_page.localized.title item.text %}</a
    >
    {% endfor %}
    <a
      class="text-decoration-none"
      target="_blank"
      rel="noopener noreferrer"
      href="https://commonknowledge.coop"
      >{% translate "Site by Common Knowledge" %}</a
    >
    <a
      class="text-decoration-none"
      target="_blank"
      rel="noopener noreferrer"
      href="{% url 'wagtailadmin_home' %}"
      >{% translate "Admin area" %}</a
    >
    <a
      class="text-decoration-none"
      target="_blank"
      rel="noopener noreferrer"
      href="{% url 'swagger-ui' %}"
      >{% translate "API docs" %}</a
    >
  </div>
</footer>
