{% load i18n wagtailcore_tags %}
<div class="endnotes">
{% if self.endnotes %}
    <hr>
    {{ self.endnotes|richtext }}
{% endif %}
{% if self.citation %}
    <p>
        {% blocktranslate %}
        Smart Forests Atlas materials are free to use for non-commercial purposes (with attribution) under a 
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a> license.
        {% endblocktranslate %}
        {{ self.citation_intro }}
        {{ self.citation }}
    </p>
{% endif %}
</div>