{% load ckdjango_tags %}

<div id="filters" class="collapse filter-sidebar collapse-horizontal" data-turbo-permanent>
  <div class="sidebar filter-bar">
    <div class="index-header justify-content-end px-2">
      <div>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" id="close-svg">
          <path d="M7.00033 2.33334L7.82283 3.15584L4.56783 6.41668H11.667V7.58334H4.56783L7.82283 10.8442L7.00033 11.6667L2.33366 7.00001L7.00033 2.33334Z" fill="#043003"/>
        </svg>
    
        <a class="btn btn-link" data-bs-toggle="collapse" href="#filters">Filters</a>
      </div>
    </div>

    <div class="p-2">
      <h3 class="fw-bold">Tags</h3>
    
      {% for letter, tags in tags %}
        <h4 class="text-uppercase fw-normal font-monospace fs-7 mb-0">{{letter}}</h4>
        <div class="font-monospace pb-3 fs-7">
          {% for tag in tags %}
            <div>
              <a
                class="mb-1 filter-tag {% if tag_filter == tag.slug %}active{% endif %}"
                href="{% qs_link 'filter' tag.slug %}"
                data-filter-tag="{{tag.slug}}"
              >
                {{tag}}
              </a>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
