{% load ckwagtail_tags %}

<div class="grid__wrapper">
  <main class="grid are-images-unloaded {{class}}">
    <div class="grid__col-sizer"></div>
    <div class="grid__gutter-sizer"></div>
    {% if not contents.has_next %}
      <div class="d-none" data-lastpage="1"></div>
    {% endif %}
    
    {% for child in contents %}
      <a href="{{child.url}}" class="grid__item link-reset">
        {{child.thumbnail_content_html}}
      </a>
    {% empty %}
      <div>Nothing found</div>
    {% endfor %}
  </main>
</div>

{% if contents.has_next %}
<div class="d-flex flex-row mt-4 justify-content-center page-load-status">
  <div class="col-auto">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
{% endif %}

<script>
  // TODO: Pull this out into a js file. Turbo seems to re-run inline scripts on page transitions.
  if (!window.masonryListenerAttached) {
    window.masonryListenerAttached = true

    document.documentElement.addEventListener('turbo:load', () => {
      const $grid = $('.grid').masonry({
        itemSelector: 'none', // select none at first
        columnWidth: '.grid__col-sizer',
        gutter: '.grid__gutter-sizer',
        percentPosition: true,
        history: false,
        stagger: 30,
        // nicer reveal transition
        visibleStyle: { transform: 'translateY(0)', opacity: 1 },
        hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
      });

      // get Masonry instance
      const msnry = $grid.data('masonry');

      // initial items reveal
      $grid.imagesLoaded( function() {
        $grid.removeClass('are-images-unloaded');
        $grid.masonry( 'option', { itemSelector: '.grid__item' });
        const $items = $grid.find('.grid__item');
        $grid.masonry( 'appended', $items );
      });

      //-------------------------------------//
      // init Infinte Scroll

      $grid.infiniteScroll({
        path: "{% next_page_path %}",
        append: '.grid__item',
        outlayer: msnry,
        status: '.page-load-status',
        checkLastPage: '[data-lastpage]'
      });
    })
  }
</script>