{% load ckwagtail_tags %}

<div class="grid__wrapper">
  <main class="grid are-images-unloaded {{class}}">
    <div class="grid__col-sizer"></div>
    <div class="grid__gutter-sizer"></div>
    {% if not contents.has_next %}
      <div class="d-none" data-lastpage="1"></div>
    {% endif %}
    
    {% for child in contents %}
      <a href="{{child.url}}" class="grid__item link-reset">
        {{child.card_content_html}}
      </a>
    {% empty %}
      <div>Nothing found</div>
    {% endfor %}

    <a href="{% next_page_path %}" class="next_page_link visually-hidden">
      Load More
    </a>
  </main>
</div>

{% if contents.has_next %}
<div class="d-flex flex-row mt-4 justify-content-center page-load-status">
  <div class="col-auto">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
{% endif %}
