{% load ckdjango_tags wagtailimages_tags wagtailcore_tags %}

<div class="d-flex align-items-start flex-row {{ class }}">
  <div class="flex-grow-1">
    <a class="text-decoration-none story-page-title-link heading-medium text-dark-green" style="word-break: break-word" href="{{page.url}}">
      {{ page.title }}
  </a>
    {% if page.extract %}
    <div class="mt-1 extract text-dark-green">{{ page.extract|richtext }}</div>
    {% endif %} 
    
    {% if page.geographical_location %}
    <div class="microcopy-small pt-1 mb-3">
      {{ page.specific.geographical_location }}
    </div>
    {% endif %} 
    {% if page.tags.all %}
    <div class="tags mt-1">
      {% for tag in page.tags.all|slice:":5" %}
      {% include "logbooks/include/tag_label.html" with tag=tag %}
      {% endfor %}
      {% if page.tags.count > 5 %}
      <span class="tags-overflow"> + {{ page.tags.count|add:"-5" }} more tags</span>
      {% endif %}
    </div>
    {% endif %} 
  </div>

  <div class="ms-2">
    <i class="icon-thumbnail {{ page.specific.icon_class }}"></i>
  </div>
</div>