{% load i18n ckdjango_tags wagtailimages_tags wagtailcore_tags wagtailadmin_tags %}

<article class='logbook-entry-card' id="{{self.slug}}">
  <div class='row row-cols-1 gy-2'>
    <header class='col'>
      <section class='caption text-grey fw-lighter'>
        <div class="d-flex flex-column flex-sm-row">
          <div class="me-2">
            {% if self.real_contributors|length > 0 %}
            <div>
            {% translate "By" %}
            {% for user in self.real_contributors %}
              <a href='{{ user.contributor_page.localized.link_url }}' data-turbo-frame="_top" class="mr-2 d-inline-block">
                {{ user }}
              </a>
              {% if forloop.last is not True %} / {% endif %}
            {% endfor %}
            </div>
            {% endif %}
            <time class="opacity-8" datetime="{{ self.original_published_at|date:"Y-m-d" }}">
              {{ self.original_published_at|date:"d E Y" }}
            </time>
            {% if self.geographical_location %}
              <div>{{ self.geographical_location }}</div>
            {% endif %}
          </div>
          {% if user.is_authenticated %}
            <a class="ms-auto align-self-start text-faded-green" href="{% url 'wagtailadmin_pages:edit' self.id %}" target="_parent">
              {% translate "Edit" %}
            </a>
          {% endif %}
        </div>
      </section>
    </header>
    <h3 class='fs-4 fw-bolder'>{{ self.title }}</h3>
    <section class='row gy-3 my-0'>
    {% for block in self.body %}  
        {% with next_block=self.body|next:forloop.counter0 %}
        {% with previous_block=self.body|previous:forloop.counter0 %}
        <section class="
          block-{{ block.block_type }}
          col
          {% if block.block_type == 'image' %}
            {% if not forloop.last and next_block.block_type == 'image' %}
              col-12 col-md-6
            {% elif not forloop.first and previous_block.block_type == 'image' %}
              col-12 col-md-6
            {% else %}
              col-12
            {% endif %}
          {% else %}
            col-12
          {% endif %}">
          {% include_block block %}
        </section>
        {% endwith %}
        {% endwith %}
    {% endfor %}
    {% include 'logbooks/include/endnotes.html' %}
    </section>
 
    <footer class='col logbook-entry-tags'>
      {% for tag in self.all_localized_tags %}
        {% include 'logbooks/include/tag_label.html' with tag=tag tag_background_class='bg-off-white' LANGUAGE_CODE=LANGUAGE_CODE %}
      {% endfor %}
    </footer>
  </div>
</article>